* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-container {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}


.adress, .working-hours {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
